/* alert-box */
.alert__box {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,0.4);
    z-index: 3;
    align-items: center;
    justify-content: center;
    display: none;
}

.alert__box--open {
    display: flex;
}

.alert__content {
    background-color: white;
    box-shadow: 0 2px 6px rgba(0, 0, 0, .16);
    border-radius: 5px;
    width: 422px;
/*     animation: modalFadeIn ease 0.3s; */
    animation: popFromCenter 300ms ease-in-out forwards;
}

.alert__body {
    display: flex;
    height: 40px;
    align-items: center;
    padding: 64px 80px 32px 40px;
}

.alert__body--delete {
    align-items:unset;
    padding: 52px 24px 44px 40px;
}

.alert__title {
    padding-left: 24px;
}

.alert__title--delete {
    line-height: 20px;
    margin-top: -4px;
    width: 300px;
    height: 36px;
}

.alert__footer {
    display: flex;
    justify-content: flex-end;
    padding: 20px;
}

.alert__button--space {
    margin-left: 16px;
}

@keyframes popFromCenter {
    0% {
    opacity: 0;
    transform: scale(0);
    }

    80% {
    transform: scale(1.08);
    }

    100% {
    opacity: 1;
    transform: scale(1);
    }
}