input[type="checkbox"] {
    outline: none;
}

input[type="checkbox"]:checked {
    accent-color: rgb(6, 160, 200) !important;
}

input[type=checkbox]:hover,
input[type=checkbox]:focus {
    box-shadow: 0px 0px 0px 3px rgba(34, 190, 228, 0.2);
}

input[type='checkbox']:checked:before {
    color: white !important;
    background-color: white !important;
}


