label {
    margin-bottom: 8px;
}

.dialog-container {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    top: 0;
    left: 0;
    z-index: 1;
}

.dialog {
    position: fixed;
    background-color: #fff;
    min-width: 400px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 4px;
    overflow: hidden;
}

.dialog--form {
    width: 724px;
}

.dialog--warning .dialog__content {
    margin-top: 40px; 
    margin-bottom: 10px;
}

.dialog--warning .dialog__footer {
    background-color: #ffffff;
    padding-bottom: 16px;
}

.dialog__header {
    display: flex;
    justify-content: space-between;
}

.dialog-title {
    margin: 20px 16px;
}

.dialog-title--small {
    margin: 8px 16px;
}

.dialog-x-container {
    background-color:#fff; 
    border: none; 
    outline: none;
    padding: 0;
}

.dialog-x {

}

.dialog-x:focus,
.dialog-x:hover {
    background-color: #ededed;
}

.dialog-x:active {
    background-color: #cbcbcb;
}

.dialog__content {
    margin-left: 16px;
    display: flex;
    flex-wrap: wrap;
}

.dialog__content-icon {
    height: 32px;
    width: 32px;
    color: yellow;
    background-color: #ededed;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px 0 0;
}

.dialog__content-text {
    width: 310px;
    white-space: pre-line;
}

.dialog__footer {
    padding: 10px 16px;
    background-color: #ededed;
    display: flex;
    justify-content: flex-end;
}

.dialog__footer--white {
    padding: 10px 24px;
    background-color: #ffffff;
    display: flex;
    justify-content: flex-end;
}

.dialog-item {
    margin: 0 16px 16px 0;
    position: relative;
}

.dialog-input {
    box-sizing: border-box;
    height: 34px;
    width: 220px;
    border: 1px solid #afafaf;
    border-radius: 4px;
    padding: 0;
    outline: none;
    padding: 10px;
    font-family: Roboto;
}

.dialog-input-big {
    width: 456px;
}

.dialog-input-bigger {
    width: 692px;
}

.warning-icon {
	width: 24px;
	height: 20px;
    margin: 0 24px 0 16px;
    outline: none;
}