.input {
    font-size: 13px;
    background-color: #ffffff;
    border-radius: 3.5px;
    border: 1.5px solid #afafaf;
    width: 280px;
    height: 36px;
    overflow: hidden;
    padding-left: 14px;
    padding-right: 14px;
    box-sizing: border-box;
    outline: none;
    border-collapse: collapse;
}

.input::placeholder {
    font-size: 13px;
    font-style: italic;
}

.input--disable {
    background-color: #f5f4f4;
    pointer-events: none;
}

.input:hover,
.input:focus {
    border: 1.5px solid #1aa4c8;
}

.input--disable {
    background-color: #f5f4f4;
    pointer-events: none;
}

.input--error {
    border: 2px solid #ed4337 !important;
}

/* Begin: Search input */
.input--search {
    width: 180px;
    padding-left: 38px;

}

.input--search::placeholder {
    font-size: 13px !important;
    font-style: Roboto Italic;
}
/* End: Search input */

.input--filter,
.input--search {
    border-radius: 2.5px;
    border: 1.5px solid #afafaf;
}

.input--filter:hover,
.input--filter:focus,
.input--search:hover,
.input--search:focus {
    border: 1.5px solid #1aa4c8;
}

.input--filter {
    width: 219px;
    padding-left: 38px;
    padding-right: 28px; 
    
 /*    pointer-events: none; */
}

.input--filter::selection {
    background-color: white;
}

/* Được dùng cho dữ liệu nhập số */
.input--textright {
    text-align: right;
}

/* Được dùng cho modal */
.input--haveicon {
    padding-right: 36px;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
    display: block;
	width: 18px;
	height: 18px;
    z-index: 1;
}

.input__text--error {
    position: absolute;
    color: #ed4337;
    font-size: 10px;
    margin-top: 4px;
}

.input--quantity {
    position: relative;
}

.input--quantity::before {
    content: '';
    position: absolute;
    background-color: #ed4337;
    display: block;
}

.input--modal {
    font-size: 14px;
}