.input {
    font-size: 14x;
    background-color: #ffffff;
    border-radius: 2.5px;
    border: 1px solid #afafaf;
    width: 280px;
    height: 36px;
    overflow: hidden;
    padding-left: 14px;
    padding-right: 14px;
    box-sizing: border-box;
    outline: none;
}

.input::placeholder {
    font-size: 14px;
    font-style: italic;
}

.input--disable {
    background-color: #f5f4f4;
    pointer-events: none;
}

.input:hover,
.input:focus {
    border: 2px solid #1aa4c8;
}

.input--disable {
    background-color: #f5f4f4;
    pointer-events: none;
}

.input--error {
    border: 2px solid #ed4337 !important;
}

/* Begin: Search input */
.input--search {
    width: 180px;
    padding-left: 39px;
}

.input--search:active {
    border: 2px solid #1aa4c8;
}

.input--search::placeholder {
    font-size: 13px !important;
    font-style: Regular Italic;
}
/* End: Search input */

.input--filter {
    width: 219px;
    padding-left: 39px;
    pointer-events: none;
}

/* Được dùng cho dữ liệu nhập số */
.input--textright {
    text-align: right;
}

/* Được dùng cho modal */
.input--haveicon {
    padding-right: 36px;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
    display: block;
	width: 18px;
	height: 18px;
    z-index: 1;
}

.input__text--error {
    position: absolute;
    color: #ed4337;
    font-size: 10px;
    margin-top: 4px;
}
