.message--hasError {
    position: absolute;
    white-space: nowrap;
    font-weight: normal;
    bottom: -15px;
    left: 0;
    color: #ed4337;
    z-index: 1;
    font-size: 11px;
}

.input--error +.message--hasError {
    display: block;
}
