.table {
    width: 100%;
    font-size: 13px;
    background-color: #ffffff;
    height: var(--table-height); 
    border: 1px solid #afafaf;
    border-collapse: collapse;
    border-radius: 3.5px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, .16);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* BEGIN: Header */
.table__header {
    background-color: #f5f5f5;
    height: 38px;
    line-height: 38px;
    font-weight: 700;
    position: sticky;
    z-index: 1;
    padding: 0 16px 0;  
    border-radius: 3.5px 3.5px 0 0;
    border-bottom: 2px solid #f1f1f1;
}

.table__header table {
    width: 100%;
}

.table__header table thead {
    display: flex;
    align-items: center;
}
/* END: Header */

/* BEGIN: Content */
.table__content {
    flex: 1;
    overflow-y: auto;
    overflow-x: auto;
}

.table__content::-webkit-scrollbar {
    width: 5px;
}

.table__content::-webkit-scrollbar-thumb {
    background-color: rgb(205, 211, 214, 0.7);
    background-clip: padding-box;
    box-sizing: border-box;
    border-right: 2.4px solid rgba(0, 0, 0, 0);
}

.table__content table {
    width: 100%;
}

.table__content table tbody tr {
    display: flex;
    align-items: center;
    height: 40px;    
    border-bottom: 2px solid #f1f1f1;
    padding: 0 11px 0 16px;  
    scroll-snap-align: start;
}

.table__row:hover {
    background-color: rgba(26, 164, 200, .2);
}

.table__row--checked {
      background-color: rgba(26, 164, 200, .2);
}

.table__row:hover .table__icon {
    display: block;
}

/* row function */
.table__function {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.table__icon {
    margin: 0 8px 0;
    display: none;
}
/* row function */

/* END: Content */

/* BEGIN: Footer */
.table__footer {
    border-top: 2px solid #f1f1f1;
    height: 40px;
    z-index: 1; 
    position: sticky;
    padding: 0 16px 0;  
    display: flex;
    align-items: center;
}

.table__footer table {
    width: 100%;
}

.table__footer table tfoot {
    
}

.table__footer table tfoot tr {
    display: flex;
    align-items: center;
}

.table__size {
    margin: 0 40px 0;
    background-color: #ffffff;
    border-radius: 2.625px;
    border: 1px solid #afafaf;
    width: 59px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.table__pagination {
    display: flex;
    font-size: 11px;
    align-items: center;
}

.pagination__list {
    display: flex;
    height: 20px;
}

.pagination__item {
    display: flex;
}

.pagination__item--icon,
.pagination__subitem {
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
}

.pagination__subitem {
    margin: 0 5px 0;
    cursor: pointer;
}

.pagination__subitem:hover {
    background-color: #f5f5f5;
    border-radius: 3px;
    overflow: hidden;
}

.pagination__item--value {
    margin: 0 5px 0;

}

.table__row--paging > .table__col--right {
    font-weight: 700;
}

/* END: Footer */




.table__col {
}

.table__col--left {
    text-align: left;
}
    
.table__col--right {
    text-align: right;  
}

.table__col--center {
    text-align: center;
}

.table__col--check {
    width: 2.6%;
    display: flex;
    align-items: center;
}

.table__col--check input {
    margin: 0;
    padding: 0;
}

.table__col--serial {
    margin-right: 1.95%;
    width: 2%;
}

.table__col--assetcode {
    width: 10%;
}

.table__col--assetname {
    flex: 1;
}

.table__col--category {
    width: 12.8%;
}

.table__col--department {
    width: 13.8%;
}

.table__col--quantity {
    width: 6%;
}

.table__col--cost {
    width: 8.8%;
}

.tabel__col--depreciation {
    width: 9%;
}

.table__col--residual {
    width: 8.8%;
}

.table__col--function {
    margin-left: 1.5%;
    width: 6.4%;
}
