/* BEGIN: TOAST MESSAGE */

/* -- Display -- */
@keyframes sideInLeft {
    from {
        opacity: 0;
        transform: translateX(calc(100% + 8px));
    } 
    to {
        opacity: 1;
        transform: translateX(0);   
    }
}

/* Hidden */
@keyframes faceOut {
    to {
        opacity: 0; 
    }
}

#toast__box {
    position: fixed;
    z-index: 3;
    top: 0px;
    right: 0px;
}

.toast__item {
    box-shadow: 0 3px 10px rgba(0, 0, 0, .16);
    padding: 8px 16px 8px;
    margin-top: 20px;
    margin-right: 17px;
    border-radius: 4px;
    height: 56px;
    width: 320px;
    background-color: #FFFF;
    display: flex;
    align-items: center;
    animation: sideInLeft ease 0.5s, faceOut linear 1s 4s;
    font-family: Roboto Regular;
    font-size: 14px;
    z-index: 999;
}

.toast__icon {
    margin-right: 20px;
}

.toast__text {
    font-size: 14px;
}

/* -- message error --*/


/* END: TOAST MESSAGE */

