.function {
    height: var(--function-height);
    margin: 14px 20px 14px 20px;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}

.function__list {
    display: flex;
}

.function__item {
    display: flex;
    align-items: center;
    position: relative;
}

.function__item--maright {
    margin-right: 11px;
}

.function__item--maleft {
    margin-left: 11px;
    box-sizing: unset;
}

.function__icon {
    position: absolute;
    left: 7px;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.function__icon--dropdown {
    position: absolute;
    right: 12px;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    outline: none;
}

.function__icon--dropdown:focus ~ .drilldown {
    display: block;
}
.function__drilldown {
    position: absolute;
    box-shadow: 0 2px 6px rgba(0, 0, 0, .16);
    top:100%;
    background-color: rgb(249, 250, 252);
    z-index: 1;
    border-radius: 3px;
    display: none;
    cursor: pointer;
    font-size: 13px;
    z-index: 2;
}

.function__drilldown--normal {
    width: 100%; 
}

.function__drilldown--haveId {
    width: 140%;
}

.function__drilldown::before {
    content: "";
    position: absolute;
    width: 100px;
    right: 30%;
    background-color: none;
    height: 60px;
    top: -20px;
}

.function__drilldown--box {
    margin: 4px;
    overflow: auto;   
    max-height: 274px;
    position: relative;
}

.function__drilldown--box::-webkit-scrollbar {
    display: none;
}

.function__drilldown--item {
    display: flex;
    border-radius: 3px;
    padding: 12px;
    width: 100%;
}

.function__drilldown--head {
    background-color: rgb(150, 198, 238);
    position: sticky;
    top: 0;
}

.function__drilldown--body {
    border-top: 1.6px solid #f1f1f1;
}

.function__drilldown--body:hover {
    background-color: rgb(199, 224, 245);
}

.function__drilldown--id {
    margin-right: 32px;
    width: 52px;
    height: 14px;
    text-align: center;
}

.function__drilldown--check {
    width: 36px;
    text-align: center;
}

.function__drilldown--name {

}
